/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background: #f8f8f889;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about, .contact {
    padding: 50px 0;
}

.about h2, .contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about p, .contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.horizontal-container {
    white-space: nowrap; /* Prevents items from wrapping */
    
  }
  
  .horizontal-item1 {
    display: inline-block;
    margin-right: 50px; /* Adjust spacing between items */
    margin-left: 50px;
    margin-top: 100px;
    border: 2px solid red;
    width: 540px;
    height: 450px;
  }
  .horizontal-item1 img
  {
    height: 100%;
    width: 100%;
  }
  .horizontal-item2 img
  {
    height: 100%;
    width: 100%;
  }
  .horizontal-item3 img
  {
    height: 100%;
    width: 100%;
  }
  .horizontal-container {
    display: flex;
  }
  
  .horizontal-item2 {
    margin-right: 50px; /* Adjust spacing between items */
    margin-top: 100px;
    border: 2px solid red;
    width: 540px;
    height: 450px;
  }

  .horizontal-item3 {
    margin-right: 50px; /* Adjust spacing between items */
    margin-top: 100px;
    border: 2px solid red;
    width: 540px;
    height: 450px;
  }

  
footer 
{
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
    
    
}
marquee{
    background: #000;
    color: #ccc;
    
    margin-top: -200px;
    
}